*{
    background-color: #1b1b1b;
    color: white;
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button, input{
    background-color: transparent;
    padding: 1vh;
    border: 0.1vh solid white;
    margin: 1vh
}
button:hover, input:hover{
    background-color: white;
    color: black;
}
#divKeyInput{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}